{% set tripAdvisorAddress = "https://www.tripadvisor.com/Hotel_Review-g285731-d10052041-Reviews-Hostal_Cabriales-Trinidad_Sancti_Spiritus_Province_Cuba.html" %}
{% set twitterAddress = "https://twitter.com/intent/tweet?url=http://www.hostalcabriales.com&text=#{'twitter.tweet.text'|trans|url_encode}" %}
{% set facebookAddress = "https://www.facebook.com/hostalcabriales" %}
<section id="services" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <a href="{{ tripAdvisorAddress }}" target="_blank">
                            <i class="icon icon-tripadvisor icon-md"></i>
                        </a>
                    </div>
                    <div class="media-body">

                        <a href="{{ tripAdvisorAddress }}" target="_blank">
                            <h3 class="media-heading">
                                <img src="{{ asset('images/triptextwhite.svg') }}" height="30px">
                            </h3>
                            <p>{% trans %}tripadvisor.description{% endtrans %}</p>
                        </a>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <a href="{{ twitterAddress }}" target="_blank">
                            <i class="icon icon-twitter icon-md"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="{{ twitterAddress }}" target="_blank">
                            <h3 class="media-heading">Twitter</h3>
                            <p>{% trans %}twitter.description{% endtrans %}</p>
                        </a>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <a href="{{ facebookAddress }}" target="_blank">
                            <i class="icon icon-facebook icon-md"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="{{ facebookAddress }}" target="_blank">
                            <h3 class="media-heading">Facebook</h3>
                            <p>{% trans %}facebook.description{% endtrans %}</p>
                        </a>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div>
    </div>
</section><!--/#services-->