{{ include('photo-swipe.html.twig') }}

<section id="recent-photos">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>{% trans %}title.our.last.pictures{% endtrans %}</h3>
                <p>{% trans %}subtitle.our.last.pictures{% endtrans %}</p>
                <div class="btn-group">
                    <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon icon-angle-left"></i></a>
                    <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon icon-angle-right"></i></a>
                </div>
                <p class="gap"></p>
            </div>
            <div class="col-md-9">
                <div id="scroller" class="carousel slide">
                    <div class="carousel-inner swipe-gallery">
                        {% for image in recentPictures %}
                            {% if (loop.index - 1) is divisible by(3) %}
                                <div class="item {% if loop.index == 1  %}active{% endif %}">
                                    <div class="row">
                            {% endif %}

                            <div class="col-xs-4">
                                <div class="portfolio-item">
                                    <div class="item-inner">
                                        <figure data-order="{{ loop.index - 1 }}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="{{ asset('images/gallery/full/' ~ image.filename) }}" itemprop="contentUrl" data-size="{{ image.pixelWidth }}x{{ image.pixelHeight }}">
                                                <img src="{{ asset('images/gallery/thumb/' ~ image.filename) }}" itemprop="thumbnail" alt="{{ image.description }}" />
                                            </a>
                                            <figcaption itemprop="caption description">{{ image.description }}</figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            {% if loop.index is divisible by(3) %}</div></div>{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>
</section><!--/#recent-works-->