<section id="main-slider" class="no-margin">
    <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active"  style="background-image: url({{ asset('images/slider/bg1.jpg') }})">
                {#<img src="{{ asset('images/slider/bg1.jpg') }}" srcset="{{ asset('images/slider/bg1-small.jpg') }} 960w, {{ asset('images/slider/bg1.jpg') }} 1920w" >#}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content centered">
                                <h2 class="boxed animation animated-item-1">
                                    {% trans %}trinidadslide.title{% endtrans %}
                                </h2>
                                <p class="boxed animation animated-item-2">{% trans %}trinidadslide.subtitle{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{ asset('images/slider/bg2.jpg') }})">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="boxed animation animated-item-1">{% trans %}hostalslide.title{% endtrans %}</h2>
                                <p class="boxed animation animated-item-2">{% trans %}hostalslide.subtitle{% endtrans %}</p>
                                <br>
                                <a class="btn btn-md animation animated-item-3" href="{{ path('booking') }}">{% trans %}button.more{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{ asset('images/slider/bg3.jpg') }})">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content centered">
                                <h2 class="animation animated-item-1">{% trans %}javiraslide.title{% endtrans %}</h2>
                                <p class="animation animated-item-2">{% trans %}javiraslide.subtitle{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="icon icon-angle-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="icon icon-angle-right"></i>
    </a>
</section><!--/#main-slider-->