<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="indexMenu"><a href="{{ path('homepage') }}">{% trans %}menu.homepage{% endtrans %}</a></li>
                <li id="servicesMenu"><a href="{{ path('services') }}">{% trans %}menu.services{% endtrans %}</a></li>
                <li id="portfolioMenu"><a href="{{ path('pictures') }}">{% trans %}menu.pictures{% endtrans %}</a></li>
                <li id="bookingMenu"><a href="{{ path('booking') }}">{% trans %}menu.booking{% endtrans %}</a></li>
                <li id="contactMenu"><a href="{{ path('contact') }}">{% trans %}menu.contact{% endtrans %}</a></li>
                <li class="divider"></li>
                <li class="language">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <strong>
                            {{  app.request.locale|locale|capitalize }} <i class="icon icon-angle-down"></i>
                        </strong>
                    </a>
                    {% if app.request.attributes.get('_route') is not null %}
                    <ul class="dropdown-menu">
                        {% for _locale in _locales|split('|') %}
                            {% if app.request.locale != _locale  %}
                                <li>
                                    <a title="{{ _locale|locale|capitalize }}" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': _locale })) }}">
                                        {{ _locale|locale(_locale)|capitalize }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</header><!--/header-->