{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block heading_title %}Log in{% endblock %}
{% block path %}Log in{% endblock %}

{% block fos_user_content %}

    <section id="login" class="container">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form class="center" role="form" action="{{ path('fos_user_security_check') }}" method="POST">
            <fieldset class="registration-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                <div class="form-group">
                    <label class="control-label required" for="username">{{ 'security.login.username'|trans }}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon icon-user"></i></span>
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label required" for="password">{{ 'security.login.password'|trans }}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon icon-key"></i></span>
                        <input type="password" id="password" name="_password" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <div class="form-group">
                    <input type="submit" id="_submit" name="_submit" class="btn btn-success btn-md btn-block" value="{{ 'security.login.submit'|trans }}" />
                </div>
            </fieldset>
        </form>
    </section><!--/#registration-->
{% endblock fos_user_content %}
