{% extends "base.html.twig" %}

{% block title %}
    {% trans %}title.contact{% endtrans %}
{% endblock %}

{% block body %}
    <section id="title" class="emerald" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>{% trans %}title.registration{% endtrans %}</h1>
                    <p>{% trans %}subtitle.registration{% endtrans %}</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{{ path('homepage') }}">{% trans %}menu.homepage{% endtrans %}</a></li>
                        <li class="active">{% trans %}menu.contact{% endtrans %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->

    <section id="hostel-registration-page">
        <div class="container">
            {{ form_start(form) }}
            {#{{ form_widget(form) }}#}
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {{ form_row(form.hostelName) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.hostLanguages) }}
                    {{ form_row(form.location) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.website) }}
                    {{ form_row(form.childrenAccepted) }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {{ form_row(form.breakfast) }}
                    {{ form_row(form.breakfastPrice) }}
                    {{ form_row(form.dinner) }}
                    {{ form_row(form.dinnerPrice) }}
                    {{ form_row(form.cocktails) }}
                    {{ form_row(form.garage) }}
                    {{ form_row(form.garagePrice) }}
                    {{ form_row(form.swimmingPool) }}
                    {{ form_row(form.laundry) }}
                    {{ form_row(form.guide) }}
                    {{ form_row(form.horseRide) }}
                    {{ form_row(form.scubaDiving) }}
                    {{ form_row(form.internet) }}
                    {{ form_row(form.wifi) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg">{% trans %}button.send{% endtrans %}</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section><!--/#contact-page-->
{% endblock %}